@font-face {
    font-family: Helvetica;
    src: url(../fonts/Helvetica.otf);
}

body {
    background: url(../img/bg.jpg) no-repeat;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header {
    height: 36px;
    background-color: #075291;
}

.head-menu {
    float: right;
}

.head-menu li {
    display: inline-block;
    padding: 11px 12px;
    font-family: Helvetica, Arial, sans-serif;
    color: #60b5ed;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    text-align: left;
    text-decoration: none;
}

.head-menu li:hover {
    background: #4eabda;
    color: #ffffff;
}
/*флажок*/
.flag {
    float: right;
}

.flag a {
    display: block;
    padding: 5px 0px 5px 15px;
    border-left: 1px solid #56a2dc;
}
/*Доп. меню*/
.add-menu {
    float: right;
}

.add-menu li {
    display: inline-block;
    padding: 11px 12px;
    font-family: Helvetica, Arial, sans-serif;
    color: #fefefe;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    text-align: left;
}

.add-menu li a {
    font-family: Helvetica, Arial, sans-serif;
    color: #fefefe;
    font-size: 14px;
    font-weight: 400;
}

.minhas-ofertas {
    text-decoration: none;
}

.entrance {
    background: linear-gradient(to bottom, #50aedb 1%, #2e7ac4 100%);
    margin-right: 20px;
}
/*контент*/
.flex {
    display: flex;
    height: 1000px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box {
    width: 560px;
    height: 552px;
    background-color: rgba(0, 0, 0, 0.5);
}

.form-header {
    background-color: rgba(0, 0, 0, 0.5);
    width: 560px;
    font-family: Helvetica, Arial, sans-serif;
    color: #ffffff;
    font-size: 24px;
    font-weight: 400;
    line-height: 61px;
    text-align: center;
    margin-bottom: 3px;
}
/*Кнопка ФБ*/
li.fb {
    width: 296px;
    height: 35px;
    background: linear-gradient(to bottom, #3b5798 0%,#2f4078 100%);
    border-style: none;
    border-top: 1px solid #7588b3;
    border-radius: 4px;
    margin-top: 30px;
}

.reg-form ul a {
    text-decoration: none;
}

.fb i.fa-facebook-f {
    color: #ffffff;
    font-size: 20px;
    border-right: 1px solid #4c68a9;
    padding: 7px 12px;
}

li.fb p {
    display: inline-block;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 17px;
    color: #ffffff;
    text-decoration: none;
    padding: 0 29px;
}

li.fb i.fa-angle-right {
    color: #ffffff;
    font-size: 20px;
}

li.fb:hover {
    background: linear-gradient(to top, #3b5798 0%,#2f4078 100%);
    
}

.bold {
    font-weight: bold;
}
/*OU*/
.ou-line {
    display: flex;
    width: 296px;
}

.ou-line span {
    font-family: Helvetica, Arial, sans-serif;
    color: #999999;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
    padding: 0 4px;
}

.ou-line hr {
    flex-grow: 1;
    color: #999999;
    border-bottom: 1px solid #000000;
}

/*Поля формы*/
.reg-form ul {
    display: flex;
    height: 552px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.input-write {
    background: #101010;
    box-shadow: 0px 1px 0px 0px #4b4b4b;
    width: 276px;
    height: 35px;
    border: 0;
    font-family: Helvetica, Arial, sans-serif;
    color: #fffbfb;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
    padding-left: 17px;
}

input:focus {
    box-shadow: 0px 1px 0px 0px #4b4b4b;
    background: #1b5288;
}

::-webkit-input-placeholder {
    font-family: Helvetica, Arial, sans-serif;
    color: #cccccc;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
}

:-moz-placeholder {
    font-family: Helvetica, Arial, sans-serif;
    color: #cccccc;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
    padding-left: 17px;
}

::-moz-placeholder {
    font-family: Helvetica, Arial, sans-serif;
    color: #cccccc;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
    padding-left: 17px;
}

:-ms-input-placeholder {
    font-family: Helvetica, Arial, sans-serif;
    color: #cccccc;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
    padding-left: 17px;
}

label {
    font-family: Helvetica, Arial, sans-serif;
    color: #cccccc;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
}

.submit {
    width: 149px;
    height: 35px;
    background: linear-gradient(to bottom, #50aedb 1%, #2e7ac4 100%);
    font-family: Helvetica, Arial, sans-serif;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    text-align: center;
    border: 0;
    border-radius: 3px;
}

#send-updates span {
    font-family: Helvetica, Arial, sans-serif;
    color: #cccccc;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
}

.submit:hover {
    cursor: pointer;
}

.disclaimer {
    width: 309px;
    font-family: Helvetica, Arial, sans-serif;
    color: #cccccc;
    font-size: 11px;
    font-weight: 400;
    line-height: 16px;
    text-align: center;
}
